<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="../../styles/style.css" rel="stylesheet" type="text/css" />
  <script src="../../scripts/addBookScript.js" defer></script>
</head>

<body>
  <div class="header">
    <div class="logo">
        <img src="../../images/bookstore logo.jpg" alt="Book Store Logo" class="book-store-logo">
    </div>
    <div class="menu">
      <a href="#">Sách</a>
      <a href="#">Giỏ hàng</a>
      <div class="menu-user">
        <img src="../../images/user-profile-icon-free-vector.jpg" alt="User Avatar">
        <a href="customer.html">Quản lý</a>
      </div>
    </div>
  </div>

  <!-- Add Book Form -->
  <div class="add-book-container">
    <!-- Modal enter info-->
     <div class="modal" id="book-modal"> 
      <div class="modal-content">
        <h2 class="add-title" style="font-size: 24px;">
          Nhập thông tin sách cần thêm 
        </h2>

        <form action="/create/store" class="form-book-content" method="POST">
          <!-- Announce error if exists -->
           <div class="announce-error" id="announce-error"></div>
           <label for="book-id" class="required">Nhập ID</label>
           <input
              type="text"
              name="book_id"
              id="book-id"
              placeholder="Nhập id"
              required
            />

           <label for="book-title" class="required">Tên sách</label>
           <input
              type="text"
              name="title"
              id="book-title"
              placeholder="Nhập tên sách"
              required
            />

            <label class="required" for="link-book-img">Link ảnh sách</label>
            <input
              type="text"
              name="link-img"
              id="link-book-img"
              placeholder="Nhập liên kết ảnh"
            />

            <label for="book-description">Mô tả:</label>
            <textarea
              id="book-description"
              name="description"
              rows="4"
              placeholder="Nhập mô tả"
            ></textarea>

            <label for="book-chapters">Số chương:</label>
            <input
              type="number"
              name="volumn_number"
              id="book-chapters"
              placeholder="Nhập số chương"
            />

            <label class="required" for="book-type"> Loại sách</label>
            <select
            id="book-type"
            name="book_type"
            onchange="toggleSeriesInput()"
            required>
              <option value="">---Chọn loại sách---</option>
              <option>Truyện tranh</option>
              <option>Tiểu thuyết</option>
              <option>Sách tham khảo</option>
              <option>Tạp chí</option>
            </select>
             
            <div id="series-container" style="display: none;">
              <label for="series">Series:</label>
              <input
                type="text"
                id="series"
                name="series_id"
                placeholder="Nhập series"
              />
            </div>

            <label class="required" for="publisher">Nhà xuất bản:</label>
            <input
              type="text"
              name="pub_id"
              id="publisher"
              placeholder="Nhập nhà xuất bản"
              required
            />

            <div class="button-group">
              <button type="submit" class="add-book-btn">Thêm</button>
              <button class="close-btn-modal" onclick="closeModal()">Đóng</button>
            </div>
            <div
              id="error-message"
              style="display: none; color: red; font-weight: bold"
            ></div>
        </form>
      </div>
     </div>
  </div>