<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer</title>
  <link href="../../styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="header">
    <div class="logo">
        <img src="../../images/bookstore logo.jpg" alt="Book Store Logo" class="book-store-logo">
    </div>
    <div class="menu">
      <a href="home.html">Sách</a>
      <a href="#">Giỏ hàng</a>
      <div class="menu-user">
        <img src="../../images/user-profile-icon-free-vector.jpg" alt="User Avatar">
        <a href="#">Người dùng</a>
      </div>
    </div>
  </div>

  <div class="profile-container">
    <div class="profile-box">
      <div class="profile-sidebar">
        <h3>Khách hàng</h3>
        <div class="profile-info">
          <div class="info-box">
            <p><strong>ID</strong></p>
            <p class="info-value" >2818282</p>
          </div>
          <div class="info-box">
            <p><strong>Level</strong></p>
            <p class="info-value">Khách hàng thường</p>
          </div>
        </div>
      </div>
      <div class="profile-details">
        <h2>Thông tin cá nhân</h2>
        <div class="info-details">
          <div class="info-box">
            <p class="info-field">Họ và tên</p>
            <p class="info-value">ABC</p>
          </div>

          <div class="info-box">
            <p class="info-field">Giới tính</p>
            <p class="info-value">Nam</p>
          </div>
          
          <div class="info-box">
            <p class="info-field">Tuổi</p>
            <p class="info-value">18</p>
          </div>

          <div class="info-box">
            <p class="info-field">Tên đăng nhập</p>
            <p class="info-value">YC</p>
          </div>

          <div class="info-box">
            <p class="info-field">Mật khẩu</p>
            <p class="info-value">**********</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> 

</html>