<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="../../styles/style.css" rel="stylesheet" type="text/css" />
    <script src="../../scripts/script.js" defer></script>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <img
          src="../../images/bookstore logo.jpg"
          alt="Book Store Logo"
          class="book-store-logo"
        />
      </div>
      <div class="menu">
        <a href="#">Sách</a>
        <a href="#">Giỏ hàng</a>
        <div class="menu-user">
          <img
            src="../../images/user-profile-icon-free-vector.jpg"
            alt="User Avatar"
          />
          <a href="/login">Đăng nhập</a>
        </div>
      </div>
    </div>

    <div class="search-container">
      <form action="search" id="form">
        <input type="search" id="search-area" name="q" placeholder="Search" />
        <button><span>🔍</span></button>
      </form>
      <!-- <div class="btn-add">
      <a href="/admin/add-book"><button class="btn-sty">Thêm sách</button></a>
    </div> -->
    </div>

    <div class="book-list-container" id="book-list"></div>

    <!-- <div id="confirmation-box" class="hidden"> -->
    <!-- <div class="confirmation-content"> -->
    <!-- <p>Bạn có chắc chắn muốn xóa sách này?</p> -->
    <!-- <form id="delete-form" method="POST" action="/delete"> -->
    <!-- <input type="hidden" id="delete-book-id" name="book_id" /> -->
    <!-- <button id="confirm-delete" class="confirm-btn">Xóa</button> -->
    <!-- </form> -->
    <!-- <button id="cancel-delete" class="cancel-btn">Hủy</button> -->
    <!-- </div> -->
    <!-- </div> -->
  </body>
</html>
