<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link href="../../styles/style.css" rel="stylesheet" type="text/css" />
  <script src="../../scripts/loginScript.js"></script>
</head>

<body>
  <div class="header">
    <div class="logo">
        <img src="../../images/bookstore logo.jpg" alt="Book Store Logo" class="book-store-logo">
    </div>
    <div class="menu">
      <a href="#">Sách</a>
      <a href="#">Giỏ hàng</a>
      <div class="menu-user">
        <!-- <img src="user-profile-icon-free-vector.jpg" alt="User Avatar"> -->
        <a href="#">Đăng nhập</a>
      </div>
    </div>
  </div>

  <div class="login-container">
    <div class="login-box">
        <h2>Đăng nhập</h2>
        <form>
            <input type="text" placeholder="Tên đăng nhập">
            <input type="password" placeholder="Mật khẩu">
            <button type="submit">Đăng nhập</button>
        </form>
    </div>
  </div>
</body>

</html>